* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    width: 100px;
}
/* Aca inicia el style del header */
.menu{
    background-color: #ffdfd3;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 6);
    position: fixed;
    top: 0px;

}
.menu-items{
    display: flex;
    list-style: none;
    margin: right 30px;
}
.menu-items li{
    border-radius: 2px;
    margin: 0 10px;
}
.menu-items li a{
    padding: 7px 12px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
}
.menu-items li:hover, li:active{
    background-color: rgba(0, 0, 0, .3);
    transition: .5s;
}
.lbtn-menu{
    width: 50px;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.lbtn-menu #uno, #dos, #tres{
    position: absolute;
    content: "";
    background-color: #957dad;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    transition: all 400ms ease;
}
#dos{
    top: 10px;
}
#tres{
    top: 20px;
}
#btn-menu{
    display: none;
}
#btn-menu:checked ~ .lbtn-menu #uno{
    transform: rotate(140deg);
    top: 10px;
}
#btn-menu:checked ~ .lbtn-menu #dos{
    opacity: 0;
}
#btn-menu:checked ~ .lbtn-menu #tres{
    transform: rotate(-140deg);
    top: 10px;
}

.principal {
    background-image: url("../image/manosvacio.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    width: 100%;
    height: 90vh;
    margin-top: 80px;
}
.div-encabezado h2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: 'Pattaya', sans-serif;

}
.frase h3{
    font-family: 'Pattaya', sans-serif;
    text-align: left;
    
    
}
.cuadro h1{
    height: 120px;
    width: 300px;
    padding: 10px;
    background-color: black;
    color: white;
    margin-left: 20px;
    
    
}
.button-servicios{
    width: 100px;
    height: 40px;
    border: solid 5px #957dad;
    margin-left: 20px;
     
}
.button-servicios a{
    text-decoration: none;
}
.div-whatsapp{
    background-color: #d291bc;
    position: fixed;
    z-index: 999;
    border-radius: 50% ;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease o.5s;
    animation: forma 1.5s infinite;
}
.div-whatsapp:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.btn-whatsaap{
    width: 80px;
    transition: ease 1s;
}
@keyframes forma{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0,0, 0.85);
    }
    100%{
        box-shadow: 0 0 0 20px rgba(0, 0,0, 0);
    }
}

/* Aca inicia el style de la tabala */
.table{
    padding: 10px;
    background-color: rosybrown;
    margin: 50px;
}
.div-table{
    margin: 5px;
}
.table th, tr {
    padding: 20px;
}
.table li{
    padding: 5px 0 20 0;
    
}
.table ol, ul {
    list-style-position: inside;
    padding: 5px;
}

.image-body{
    height: 700px;
    width: 100%;
} 
/* Aca inicia el estilo de galeria */
.div-galeria{
    width: 70%;
    height: 400px;
    background-color: #d291bc;
    margin: 50px;
    text-align: center;
}
.imagen-galeria{
    height: 80%;
    width: 70%;
    padding: 10px;
}
/* Aca inicia el stile de nosotro */
.article-nosotros{
    width: 50%;
    height: 300px;
    background-color: #957dad;
    margin: 50px;
    padding: 10px;
}
/* Aca inicia el style del footer */
.div-footer{
    width: 100%;
    height: 100px;
    background-color: #ffdfd3;
    text-align: center;
}
/* Aca inicia el estyle del login */
.div-form{
    margin: 20px;
    background-color: #e0bbe4;
    padding: 20px;
    width: 40vw;
    height: 300px;
}
   